/* Navbar custom style */
.pinkbar {
  background-color: #ffb6c1 !important; /* pastel pink */
}

/* Make text readable on pink */
.pinkbar .fw-bold,
.pinkbar .nav-link {
  color: #fff !important;
}

/* Hover color tweak */
.pinkbar .nav-link:hover {
  color: #222 !important;
}
/*Hover effect for movie poster cards*/
.card:hover, .p-3.border.rounded.h-100:hover {
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
    box-shadow:75rem 1.5rem rbga(0,0,0,.15);
  }

